<div class="container">
  <div class="left-container">
    <div class="content">
      <img src="assets/itau.png" alt="Imagem" />
      <p class="content">
        Secure <br />
        Pass
      </p>
    </div>
  </div>
  <div class="right-container">
    <div class="content">
      <h3>Teste sua força: Insira sua chave secreta mais forte!</h3>
      <p>Nos vamos garantir que sua chave secreta é confiavel</p>

      <form [formGroup]="passForm" (ngSubmit)="submitForm()">
        <input
          type="text"
          id="inputField"
          formControlName="inputField"
          placeholder="password"
        />
        <br />
        <button type="submit">Testar</button>
      </form>

      <img src="assets/ilustracao-chave.png" alt="Outra Imagem" />
    </div>
  </div>
</div>
